@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET - BvAspMvcTemplate</h1>
    
    <p class="lead">
        BvAspMvcTemplate is a default ASP MVC template that includes the commonly use javascript and front end frameworks.
    </p>

    <ul>
        <li>jQuery - v1.11.3</li>
        <li>AngularJs - v1.3.16</li>
        <li>Bootstrap - v3.3.4</li>
        <li>FontAwesome - v4.3.0</li>
        <li>ToastrJs - v2.1.1</li>
        <li>MomentJs - v2.10.3</li>
        <li>FuelUX - v3.8.0</li>
        <li>BvHelperCss - v1.0.0</li>
    </ul>

    <p><a href="https://github.com/jeeshenlee/BvAspMvcTemplate" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        

        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>