@{
    ViewBag.MetaTitle = "Overwrite My Title";
    ViewBag.MetaDescription = "Overwrite Description";
}

<div class="jumbotron">
    <h1>ASP.NET - BvAspMvcTemplate</h1>
    
    <p class="lead">
        BvAspMvcTemplate is a default ASP MVC template that includes the commonly use javascript and front end frameworks.
    </p>

    <ul>
        <li>jQuery - v1.11.3</li>
        <li>AngularJs - v1.3.16</li>
        <li>Bootstrap - v3.3.4</li>
        <li>FontAwesome - v4.3.0</li>
        <li>ToastrJs - v2.1.1</li>
        <li>MomentJs - v2.10.3</li>
        <li>FuelUX - v3.8.0</li>
        <li>BvHelperCss - v1.0.0</li>
    </ul>

    <p><a href="https://github.com/jeeshenlee/BvAspMvcTemplate" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>For User</h2>
    
        <h3>1. How to set your website meta tags, e.g. title, descriptions, keywords etc</h3>
        <p>To set a site wide meta tag, navigate to Web.Config. Change those value in appSettings > METATAG_xxx e.g. METATAG_TITLE</p>
        <p>To overwrite the site wide meta tag, under each page. Delacare variable ViewBag.Metaxxx e.g ViewBag.MetaTitle</p>
        <br />
        <h2>For Contributor</h2>
        <h3>1. How to create Visual Studio Template</h3>
        <p>Here's the step by step guide to create template out of this project - https://msdn.microsoft.com/en-us/library/tsyyf0yh.aspx </p>
    </div>
</div>